:root {
    --link-color: #212121;
    --link-active-color: #2196F3;
    --heading-color: #ffffff;
    --second-color:#757575;
    --backround:#2F303A;
    --background-buttons:#F5F4FA;
    --text-font-family: 'Roboto', sans-serif;
    --heading-font-family: 'Raleway', sans-serif;
    --icon-color-background: #FFF;
    --icon-color: #AFB1B8;
    --icon-color-hover: #fff;
    --icon-color-background-hover: #2196f3;
    --brand-icon-color: #AFB1B8;
    --footer-social-color: rgba(255, 255, 255, 0.10);
    --tags-background-color:#F5F4FA;
}

.global-footer{
    background-color:var(--backround);
    height: 251px;
    padding: 60px 0 60px 215px;
    display: flex;
}

.global-footer .logo-bottom{
    color: var(--link-active-color);
    font-family: var(--heading-font-family);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-decoration: none;
}

.global-footer .logo-bottom span{
    color: var(--heading-color);
    font-family: var(--heading-font-family);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.global-header .logo{
    color: var(--link-active-color);
    font-family: var(--heading-font-family);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-decoration: none;
}

.global-header .logo span{
    color: var(--link-color);
    font-family: var(--heading-font-family);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    font-family: var(--text-font-family)
}

ul {
    list-style: none;
}

.social-links {
    color:var(--link-color);
    font-family: var(--text-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    text-decoration:none;
    display: flex;
    gap: 10px;
    align-items: center;
}

.global-header .social-links:hover,
.global-header .social-links:focus{
    color: var(--link-active-color);
}

.global-header .main-navigation a{
    color:var(--link-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    text-decoration: none;
}

.global-header .main-navigation a.active {
    color:var(--link-active-color);
}

.button {
    color:var(--heading-color);
    font-family:var(--text-font-family);
    font-size: 16px;
    background-color: #2196F3;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
}



.list-tags{
    color:var(--link-color);
    font-family:var(--text-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    display: flex;
    justify-content: center;
    padding: 94px 215px;
}

.list-tags p{
    color:var(--second-color);
    font-family:var(--text-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-top: 10px;
}


.list-tags-team span{
    color:var(--link-color);
    text-align: center;
    font-family:var(--text-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.list-tags-team em{
    color:var(--second-color);
    text-align: center;
    font-family:var(--text-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

.list-tags ul{
    display: flex;
    gap:30px;
}

.list-tags li{
    width: 270px;
}

.list-tags li .tags-icon{
    width: 270px;
    height: 120px;
    background-color:var(--tags-background-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.list-tags .tags-icon svg{
    width: 70px;
    height: 70px;
}

.global-adress{
    margin-top: 28px;
    gap: 12px;
}
 

.global-footer .global-adress a{
    color:var(--second-color);
    font-family:var(--text-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.42px;
    text-decoration: none;
}

.global-footer .global-adress span{
    color:var(--heading-color);
    font-family:var(--text-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
}

.section-buttons ul, button{
    border-radius: 4px;
    background:var(--background-buttons);
    color: #212121;
    text-align: center;
    font-family: var(--text-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
}
.section-buttons ul, button:hover{
    background-color:var(--link-active-color);
    color:var(--heading-color);
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.list-services {
    color:var(--link-color);
    font-family:var(--text-font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
}

.list-services em {
    color:var(--second-color);
    font-family:var(--text-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
}


.global-header{
    background-color: #4#d0d0d;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.global-header .main-navigation ul{
    display: flex;
    justify-content: space-between;
    margin: 0 330px 0 93px;
    gap: 50px;
}

.contact-header{
    display: flex;
    justify-content: space-between;
    gap: 40px;  
}

.main-section{
    background:url('../images/slide-background.png') rgba(0, 0, 0, 0.5);
}
.main-section .main-text{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text h1{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
}

.section{
    margin-bottom: 94px;
    justify-content: center;
}

.title-section{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.img-section{
    display: flex;
    gap: 30px;
    justify-content: center;

}

.list-tags-team{
    padding: 94px 0;
    background-color: var(--background-buttons);
}

.team-title{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.team-images{
    display: flex;
    gap: 30px;
    justify-content: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;  
}

.team-images .image-employ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-images .image-employ span{
    margin-top: 30px;
    margin-bottom: 10px;
}
.team-images .image-employ em {
   
}

.section-buttons{
    display: flex;
    justify-content: center;
    gap: 8px;
    height: 38px;
}

.section-buttons button{
   padding: 6px 22px;
   font-weight: 700;
   border: none;
}

.page-section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 94px 0;    
}

.card-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.card-service{
    width: 370px;
    border-bottom: 1px solid #EEE;
    display: flex;
    flex-direction: column;
}

.card-grid .card-service span{
    margin: 20px 24px 0 24px;

}

.card-grid .card-service em{
    margin: 0px 24px 20px 24px;
}

.card-grid .card-service:hover,
.card-grid .card-service:focus{
    border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.icon-list {
    display: flex;
    margin-top: 16px;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 32px;
    margin-right: 32px;
}

.icon-list .icon{
    width: 44px;
    height: 44px;
    background-color: var(--icon-color-);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    color: var(--icon-color);
}

.icon-list .icon:hover,
.icon-list .icon:focus
{
    color: var(--icon-color-hover);
    background-color: var(--icon-color-background-hover);
}

.icon-list .icon svg{
    weight: 20px;
    height: 20px;
}

.brand-items{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 94px 0;
}

.brand-items h3{
    color: #212121;
    text-align: center;
    font-family:var(--text-font-family);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.brand-items .brand-icons{
    display: flex;
    margin-top: 50px;
    gap:30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.brand-items .company-icon{
    height: 92px;
    width: 170px;
    gap: 30px;
    background-color: var(--heading-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--brand-icon-color);
    color: var(--brand-icon-color);
}

.brand-items .company-icon:hover,
.brand-items .company-icon:focus {
    color: var(--icon-color-background-hover);
    border: 1px solid var(--icon-color-background-hover);
}

.brand-icons svg{
    width: 106px;
    height: 60px;
}

.social-contact-tittle {
    color: #FFF;
    font-family: var(--text-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    margin-bottom: 20px;
}

.icons-footer {
    display: flex;
    gap: 10px;
}

.icons-footer .icon{
    width: 44px;
    height: 44px;
    background-color:var(--footer-social-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    color: var(--heading-color);
}

.icons-footer .icon svg{
    height: 20px;
    width: 20px;
}

.social-icons-footer{
    display: flex;
    flex-direction: column;
    margin-left: 94px;
    margin-top: 15px;

}

.icons-footer .icon:hover,
.icons-footer .icon:focus{
    background-color: var(--link-active-color);
    color: var(--icon-color-background);
}